@model MeetDown.Web.Models.GroupInfoModel

@{
    ViewBag.Title = Model.Group.Name;
}

<h2>@Model.Group.Name</h2>

Welcome to @Model.Group.Name!<br/>

<p>Her har du en snasen liste over våre medlemmer:</p>

<ul>
    @foreach (var member in @Model.Members)
    {
        <li>@Html.ActionLink(member.Name, "Info", "User", new { id = member.Id }, null) 
            - Member since @member.Joined.ToShortDateString()</li>
    }
</ul>

Gildt!

<p>Her kommer tags som beskriver hva denne gruppa handler om:</p>

<p>
    @foreach (var tag in @Model.Group.Tags)
    {
        @Html.ActionLink(tag, "Find", "Tags", new { id = tag }, null)
    }
</p>
